{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Добавить студента</h2>

    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="id_first_name" class="form-label">Имя</label>
            <input type="text" class="form-control" id="id_first_name" name="first_name" required>
        </div>

        <div class="mb-3">
            <label for="id_last_name" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="id_last_name" name="last_name" required>
        </div>

        <div class="mb-3">
            <label for="id_date_of_birth" class="form-label">Дата рождения</label>
            <input type="date" class="form-control" id="id_date_of_birth" name="date_of_birth" required>
        </div>
        <a href="{% url 'peoples:student-list' %}" class="btn btn-outline-success">Назад</a>
        <button type="submit" class="btn btn-success">Добавить студента</button>
    </form>
</div>
{% endblock %}